/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	max-width: $shell;
	padding-left: $shell-gutter;
	padding-right: $shell-gutter;
	margin: 0 auto;
}
